<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ADUNEB-Mail</title>
<style type="text/css">
Body {
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color: #F4F4F4;
}
.style1 {
	font-size: 36px;
	color: #CC0000;
}
.txt_vermelho {color:#000000;}
.txt_branco {color:#fff;}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #CC0000;
}
a:active {
	text-decoration: none;
	color: #000000;
}
.style3 {color: #000000; font-weight: bold; }
</style>
</head>

<body bgcolor="#F4F4F4">
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border:1px solid #EFEFEF">
  <tr>
    <td height="184" align="center"><img src="##K_SITE_URL_COMPLETA##/images/aduneb_mail1.jpg" width="500" height="215" /></td>
  </tr>
  <tr>
    <td valign="top" style="line-height:20px;"><!-- INICIO CONTEUDO-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="45" align="center" valign="bottom" class="style1" style="padding-bottom:10px; font-size: 22px; color: #CC0000;">##ASSUNTO_EMAIL##</td>
          </tr>
          <tr>
            <td align="center" style="padding:10px; padding-bottom:0; border-top:3px solid #000000;">##PATH_IMAGEM##</td>
          </tr>
          <tr>
            <td style="padding:10px; color:#333333; font: 12px Arial, Helvetica, sans-serif; text-align:justify;">##CORPO_EMAIL##</td>
          </tr>
        </table>
      <!-- FIM CONTEUDO-->
    </td>
  </tr>
  <tr>
    <td height="25" align="center" valign="bottom" style="border-top:1px dotted #ccc;"><a href="##K_SITE_URL_COMPLETA##/filiese.php" target="_blank"><strong style="color:#000000;">Filie-se &agrave; ADUNEB, &eacute; f&aacute;cil e r&aacute;pido se filiar, clique aqui</strong></a></td>
  </tr>
  <tr>
    <td align="center"><div style="padding:10px; margin:13px; background-color:#E6E9EA; border:1px solid #DBDEDF; font-size:12px; font-style:italic;">Colega, fortalecer o sindicato &eacute; fortalecer a luta em defesa de nossas reivindica&ccedil;&otilde;es. <br />
      Se voc&ecirc; ainda n&atilde;o &eacute; filiado, filie-se!<br />
      Juntos somos fortes! </div></td>
  </tr>
  <tr>
    <td align="center" class="txt_vermelho" style="color:#000000;"><strong>Visite as p&aacute;ginas abaixo e se conecte com a luta! </strong></td>
  </tr>
  <tr>
    <td align="center" style="border-top:3px solid #000000"><img src="##K_SITE_URL_COMPLETA##/images/aduneb_mail3.gif" width="292" height="111" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#000000" class="txt_branco" style="padding:8px; color:#fff;"><strong>Associa&ccedil;&atilde;o dos Docentes da Universidade do Estado da Bahia</strong><br />
      Estrada das Barreiras s/n - Uneb - Cabula - CEP: 41150-350<br />
      Salvador - Bahia. Tele/fax: (71) 3257-5803 / 9333. Email: aduneb@atarde.com.br<br />
      <strong style="color:#ffffff;"><span style="color:#ffffff;">##K_SITE_URL##</span></strong></td>
  </tr>
</table>
<map name="Map" id="Map2">
  <area shape="rect" coords="5,5,99,102" href="##K_SITE_URL_COMPLETA##" target="_blank" />
  <area shape="rect" coords="120,14,196,102" href="http://www.conlutas.org.br/" target="_blank" />
  <area shape="rect" coords="212,13,287,103" href="http://www.andes.org.br/" target="_blank" />
</map>
<div align="center"><br />
<font face="verdana,arial" size="1"> <a href="##ENDERECO_VISUALIZACAO##" target="_blank">Clique aqui, caso n&atilde;o esteja visualizando a imagem.</a><br />
      <br />
      <a href="##ENDERECO_REMOCAO##" target="_blank">Clique aqui, se n&atilde;o desejar receber mais essa mensagem.</a></font>
  <map name="Map" id="Map">
  <area shape="rect" coords="5,5,99,102" href="http://www.aduneb.com.br" target="_blank" />
  <area shape="rect" coords="120,14,196,102" href="http://www.conlutas.org.br/" target="_blank" />
  <area shape="rect" coords="212,13,287,103" href="http://www.andes.org.br/" target="_blank" />
  </map>
</div>
</body>
</html>
