<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ADUNEB-Mail</title>
</head>
<body>

##NOME_DESTINATARIO##:<br/><br/>

##NOME_REMETENTE## (##EMAIL_REMETENTE##) recomenda este conteúdo do site da ADUNEB:<br/><br/>

##TITULO_NOTICIA##<br/><br/>

Para acessá-lo, clique no link a seguir:
##URL##<br/><br/>

##COMENTARIO##

Atenciosamente,<br/><br/>

Equipe ADUNEB<br/>
http://www.aduneb.com.br/

</body>
</html>
