<table width="100%" height="100%" border="0" cellspacing="0" cellpading="0">
  <tr>
    <td background="http://www.skydiveitaparica.com.br/nucleo/templates/imgs/background_email.gif" width="70"></td>
    <td valign="top">
      <font face="arial" size="1">
		##destinatario##,<br>
		##nome##  esteve no site <a href="http://www.skydiveitaparica.com.br">http://www.skydiveitaparica.com.br</a> gostou muito e indicou para você também conhece-lo.<br><br><br>
		Ele também deixou essa mensagem para você: ##comentario##
       </font>	
	</td>
  </tr>
  <tr>
    <td background="http://www.skydiveitaparica.com.br/nucleo/templates/imgs/background_email.gif" width="70"></td>
    <td align="right" height="70"><img src="http://www.skydiveitaparica.com.br/nucleo/templates/imgs/logo_email.gif" width="113" height="70"></td>
  </tr>
</table>